<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Pecunia Loan Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <div class="dropdown mr-auto">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Apply Loan
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]=" [ '/applyloanmodule', 'applycarloan' ] " [routerLinkActive]="['active']">Car Loan</a>
            <a class="dropdown-item" [routerLink]="['/applyloanmodule', 'applyeduloan']" [routerLinkActive]="['active']">Edu Loan</a>
            <a class="dropdown-item" [routerLink]="['/applyloanmodule', 'applyhomeloan']" [routerLinkActive]="['active']">Apply Home Loan</a>
          </div>
        </div>
      </li>

      <li class="button">
        <button class="btn btn-secondary" [routerLink]="['showLoans']" [routerLinkActive]="['active']" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
          Show Loan
        </button>
      </li>

    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
