@model Pecunia.PresentationMVC.Models.ShowMessageModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <div class="container-fluid">
        @using (Html.BeginForm("Redirect", "ShowMessage", FormMethod.Post))
        {
            <div class="pb-3 pl-md-2 bg-info pt-3" style="height:80px"><h4>Hi! We have a message for you</h4></div>

            @*redirection not required as nav bar or group list is available everywhere*@
            <div class=" col-lg-6  pt-5 mx-auto text-center">
                @Html.TextBoxFor(t => t.Message, new { @class = "text-info col-lg-12 mx-auto", disabled = "true" })
                @*<button class="text-light bg-dark mt-3">Home</button>*@
            </div>

        }
    </div>

