body {
    margin:0px;
    padding:0px;
    background-color:#ccc6c6;
}

h2{
    margin-left:10px;
}

.head1{
    background-color:#565050;
    height:60px;
    color:#ebe6e6;
    width:100%;
}

.field-validation-error{
    color:red;
}
