<form [formGroup]="searchBoxForm">
  <div class="form-group form-row">
    <table>
      <tr>
        <td>
          <label for="searchByID" class="col-form-label">Search Loans: </label>
        </td>
        <td>
          <select class="form-control" formControlName="selectID" id="searchByID" style="width:auto" (change)="onChangeSearchBy($event)">
            <option [value]="1">By Customer ID</option>
            <option [value]="2">By Loan ID</option>
          </select>
        </td>
        <td>
          <input type="text" *ngIf="IDselected" class="form-control" placeholder="enter ID here" formControlName="inputID" />
          <span class="text-danger" *ngIf="getFormControlStatus('inputID', 'required', searchBoxForm)">{{getFormControlErrorMessage('inputID', 'required')}}</span>
          <span class="text-danger" *ngIf="getFormControlStatus('inputID', 'minLength', searchBoxForm)">{{getFormControlErrorMessage('inputID', 'minLength')}}</span>
        </td>
        <td>
          <button type="submit" class="btn btn-secondary" id="searchLoanByID" data-toggle="modal" data-target="#showLoanDetailsModal" *ngIf="getFormGroupStatus(searchBoxForm)" (click)="getLoanDetails()">
            <span><i class="fa fa-search" aria-hidden="true"></i> Search</span>
          </button>
          <label *ngIf="!getFormGroupStatus(searchBoxForm) && IDselected" class="text-danger">
            <span><i class="fa fa-info-circle" aria-hidden="true"></i> Please Enter Valid ID</span>
          </label>
        </td>
      </tr>
    </table>
  </div>
</form>

<!--List Car Loans-->
<table class="table mt-2">
  <thead>
    <tr class="text-primary">
      <th>Type</th>
      <th>Loan ID</th>
      <th>Amount (Rs.)</th>
      <th>EMI(Rs.)</th>
      <th>Repayment Period(months)</th>
      <th>Status</th>
      <th>Date of application</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let carloan of carLoansTableDisplay">
      <td>Car Loan</td>
      <td>{{carloan.loanID}}</td>
      <td>{{carloan.amountApplied}}</td>
      <td>{{carloan.EMI_amount}}</td>
      <td>{{carloan.reapaymentPeriod}}</td>
      <td>{{carloan.status}}</td>
      <td>{{carloan.dateOfApplication}}</td>
    </tr>
  </tbody>
</table>

<!--List Educational Loans-->
<table class="table mt-2">
  <thead>
    <tr class="text-primary">
      <th>Type</th>
      <th>Loan ID</th>
      <th>Amount (Rs.)</th>
      <th>EMI(Rs.)</th>
      <th>Repayment Period(months)</th>
      <th>Status</th>
      <th>Date of application</th>
      <th>Course</th>
      <th>Institute Name</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let eduloan of eduLoansTableDisplay">
      <td>Educational Loan</td>
      <td>{{eduloan.loanID}}</td>
      <td>{{eduloan.amountApplied}}</td>
      <td>{{eduloan.EMI_amount}}</td>
      <td>{{eduloan.reapaymentPeriod}}</td>
      <td>{{eduloan.status}}</td>
      <td>{{eduloan.dateOfApplication}}</td>
      <td>{{eduloan.course}}</td>
      <td>{{eduloan.instituteName}}</td>
    </tr>
  </tbody>
</table>

<!--List Home loans-->
<table class="table mt-2">
  <thead>
    <tr class="text-primary">
      <th>Type</th>
      <th>Loan ID</th>
      <th>Amount (Rs.)</th>
      <th>EMI(Rs.)</th>
      <th>Repayment Period(months)</th>
      <th>Status</th>
      <th>Date of application</th>
      <th>Occupation</th>
      <th>Gross Income(Rs.)</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let homeloan of homeLoansTableDisplay">
      <td>Home Loan</td>
      <td>{{homeloan.loanID}}</td>
      <td>{{homeloan.amountApplied}}</td>
      <td>{{homeloan.EMI_amount}}</td>
      <td>{{homeloan.reapaymentPeriod}}</td>
      <td>{{homeloan.status}}</td>
      <td>{{homeloan.dateOfApplication}}</td>
      <td>{{homeloan.occupation}}</td>
      <td>{{homeloan.grossIncome}}</td>
    </tr>
  </tbody>
</table>


<!--show loan details modal-->
<div>
  <div class="modal fade" id="showLoanDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Loan Details</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span *ngIf="showLoadingSpinner"><i class="fa fa-circle-o-notch  fa-spin"></i> Please Wait</span>

          <div *ngIf="this.isCarLoan">
            <label class="text-info">Loan ID: </label><label class="text-primary">{{this.carLoans[0].loanID}}</label><br>
            <label class="text-info">Amount(Rs.): </label><label class="text-primary">{{this.carLoans[0].amountApplied}}</label><br>
            <label class="text-info">EMI(Rs.): </label><label class="text-primary">{{this.carLoans[0].EMI_amount}}</label><br>
            <label class="text-info">Date of application: </label><label class="text-primary">{{this.carLoans[0].dateOfApplication}}</label><br>
            <label class="text-info">Status: </label><label class="text-primary">{{this.carLoans[0].status}}</label><br>
            <label class="text-info">Vehicle: </label><label class="text-primary">{{this.carLoans[0].vehicle}}</label><br>
          </div>

          <div *ngIf="this.isHomeLoan">
            <label class="text-info">Loan ID: </label><label class="text-primary">{{this.homeLoans[0].loanID}}</label><br>
            <label class="text-info">Amount(Rs.): </label><label class="text-primary">{{this.homeLoans[0].amountApplied}}</label><br>
            <label class="text-info">EMI(Rs.): </label><label class="text-primary">{{this.homeLoans[0].EMI_amount}}</label><br>
            <label class="text-info">Date of application: </label><label class="text-primary">{{this.homeLoans[0].dateOfApplication}}</label><br>
            <label class="text-info">Status: </label><label class="text-primary">{{this.homeLoans[0].status}}</label><br>
            <label class="text-info">Occupation: </label><label class="text-primary">{{this.homeLoans[0].occupation}}</label><br>
          </div>

          <div *ngIf="this.isEduLoan">
            <label class="text-info">Loan ID: </label><label class="text-primary">{{this.eduLoans[0].loanID}}</label><br>
            <label class="text-info">Amount(Rs.): </label><label class="text-primary">{{this.eduLoans[0].amountApplied}}</label><br>
            <label class="text-info">EMI(Rs.): </label><label class="text-primary">{{this.eduLoans[0].EMI_amount}}</label><br>
            <label class="text-info">Date of application: </label><label class="text-primary">{{this.eduLoans[0].dateOfApplication}}</label><br>
            <label class="text-info">Status: </label><label class="text-primary">{{this.eduLoans[0].status}}</label><br>
            <label class="text-info">Institute Name: </label><label class="text-primary">{{this.eduLoans[0].instituteName}}</label><br>
            <label class="text-info">Course: </label><label class="text-primary">{{this.eduLoans[0].course}}</label><br>
          </div>

          <label *ngIf="!this.isEduLoan && !this.isCarLoan && !this.isHomeLoan" class="text-danger">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Not a Valid ID!
          </label>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-dismiss="modal" id="btnNewApplyCancel" (click)="resetshowLoanDetailsModal()">
            <span><i class="fa fa-times-circle"></i> Okay</span>
          </button>

        </div>

      </div>
    </div>
  </div>
</div>
