<form [formGroup]="searchBoxForm">
  <div class="form-group form-row">
    <table>
      <tr>
        <td>
          <label for="searchByID" class="col-form-label">Select ID: </label>
        </td>
        <td>
          <select class="form-control" formControlName="selectID" id="searchByID" style="width:auto" (change)="onChangeSearchBy($event)">
            <option [value]="1">By Customer ID</option>
            <option [value]="2">By Loan ID</option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="enter ID here" formControlName="inputID" />
          <span class="text-danger" *ngIf="getFormControlStatus('inputID', 'required', searchBoxForm)">{{getFormControlErrorMessage('inputID', 'required')}}</span>
          <span class="text-danger" *ngIf="getFormControlStatus('inputID', 'minLength', searchBoxForm)">{{getFormControlErrorMessage('inputID', 'minLength')}}</span>
        </td>
        <td>
          <button type="submit" class="btn btn-secondary" id="searchLoanByID" *ngIf="getFormGroupStatus(searchBoxForm)">
            <span><i class="fa fa-search" aria-hidden="true"></i> Search</span>
          </button>
          <label *ngIf="!getFormGroupStatus(searchBoxForm)" class="text-danger">
            <span><i class="fa fa-info-circle" aria-hidden="true"></i> Please Enter Valid ID</span>
          </label>
        </td>
      </tr>
    </table>

  </div>
  
</form>
