<!--
   DEVELOPED BY - AISHWARYA SARNA
   DATE OF CREATION - 10/10/2019
   ABOUT COMPONENT HTML
-->



<div class="jumbotron">
  <h1>About Pecunia</h1>
  <p>
    Pecunia₹ Finance Limited, established in the year 2015,  is an Indian private sector bank headquartered in Bangalore and is functioning only in Bangalore, India. In January 2019, Reserve Bank of India (RBI) issued the license to Pecunia₹ Finance Limited, to carry on banking business.
    They have one of the largest and most respected Wealth Management teams in India providing the widest range of solutions to individuals  and employed professionals. As of December 30,  2018 Pecunia₹ has a net-worth of approximately Rs 730 crore and micro-finance loans of Rs 300 crore in its books.
    It offers a wide range of banking products and financial services for retail customers through a variety of delivery channels  in the areas of personal finance,  life insurance etc.
  </p>
</div>
<div class="row mb-3">
  <div class="col-lg-6">
    <h3>Products</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <h4>Accounts</h4>
        <ul>
          <li>Savings Account</li>
          <li>Current Account</li>
          <li>FD Account</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Payments</h4>
        <ul>
          <li>Debit</li>
          <li>Credit</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Loan Accounts</h4>
        <ul>
          <li>Car Loan</li>
          <li>Education Loan</li>
          <li>Home Loan</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Passbook Maintainance</h4>
      </li>
      <li class="list-group-item">
        <h4>Utilities</h4>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h3>Highlights</h3>
    <ul class="list-group">
      <li class="list-group-item">Pecunia₹ Finance Limited has recorded substantial profit growth (18% profit in the third financial quarter of 2018-2019) in all financial quarters, and its customer base is increasing, targets other metropolitan cities of India to open new branches and offer financial services.</li>
      <li class="list-group-item">To operate in the above mentioned cities, Pecunia₹ Finance Limited is expanding its business and is looking for centralized application which helps them to offer financial services in other cities too.</li>
      <li class="list-group-item">•	Pecunia₹ Finance Limited has a target of opening 20 new branches in the current financial year across major cities of India.</li>

    </ul>
  </div>
</div>
